#box1{
    background-color: white;
    height: 400px;
    width: 500px;
    position: relative;
    top: 150px;
    left: 400px;
    /* border-color: green; */
}
#box2{
    background-color: red;
    height: 200px;
    width: 200px;
    position:relative;
    left: 140px;
    top: 100px;
    border-radius: 50%;
}
#box{
    background-color: black;
    height: 1000px;
}
*{
    margin: 0px;
}