h1{
    background-color: aqua;
    height:80px;
    width: 200px;
    border-width: 10px;
    border-style: dotted;
    border-color: brown;
    padding: 100px;
    margin: 60px;
    border-radius: 20px;
}
h2{
    height: 60px;
    width: 150px;
    background-color: bisque;
    border:10px solid greenyellow;
    margin:50px;
    padding:50px;
    border-radius: 10px;
}
h4{
    height: 50px;
    width: 200px;
    border: 10px dashed magenta;
    background-color: rgb(139, 6, 137);
    margin: 10px 20px 30px 40px;
    padding: 10px 20px 300px 40px;
    border:10px 20px 30px 40px ;
}
p{
     height: 50px;
    width: 200px;
    border: 10px dashed magenta;
    background-color: rgb(139, 6, 137);
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 500px;
    border-left: 10px;
    border-right: 10px;
    border-top: 10px;
    border-bottom: 10px;
}