h1{
    background-color:khaki;
    color: blueviolet;
    padding-bottom: 100px;
    height: 100px;
    width: 100px;
    margin-top: 100px;
}
span{
    background-color:rgba(11, 184, 184, 0.873);
    color: rgba(26, 7, 7, 0.841);
    padding-bottom: 100px;
    /* height: 100px; */
    /* width: 100px; */
    margin-top: 100px;
}
/* *{ */
    /* margin: 0px; */
    /* padding: 0px; */
/* } */