/* h1{
    display: inline;
    background-color:khaki;
    color: blueviolet;
    padding-bottom: 100px; 
    height: 100px;
    width: 100px;
    border-color: rgb(19, 15, 22);
    border-radius:10px ;
    margin-top: 1000px;
    box-sizing: content-box;
}
p{
    display: block;
    background-color: aqua;
    color: black;
    padding-bottom: 100px;
    height:100px;
    width: 100px;
    border-radius: 10px;
    margin-top: 100px;
    box-sizing: border-box;
} */
p{
    display : inline-block;
    /* height:200px;
    width: 100px; */
    background-color: aqua;
}