h1{
    background-color: aqua;
}
.classA{

    background-color: aquamarine;

}
/* .classA{
    background-color: brown;
} */
/* #first{
    background-color: gold;
} */
/* h1{
    background-color: black !important;
} */