*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color: aqua;
    padding:20px;
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* margin-top: 50px; */
}
.container{
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(8,1fr);
    background-color: wheat;
    height: 600px;
    width: 600px;

}
.white{
    background-color: white;
}
.black{
    background-color: black;
   
}
