#box0{
    background-color: yellow;
    height: 200px;
    width: 600px;
    position:relative;
    left: 400px;
    top: 100px;
}
#box1{
    background-color: blue;
    height: 70px;
    width: 200px;
    position: relative;
    left: 0px;
    top: 0px;
}
#box2{
    background-color: blue;
    height: 70px;
    width: 200px;
    position: relative;
    left: 0px;
    top: 60px;
}
#box3{
    background-color: blue;
    height: 70px;
    width: 300px;
    position: relative;
    left: 300px;
    bottom: 140px;
}
#box4{
    background-color: blue;
    height: 70px;
    width: 300px;
    position: relative;
    left: 300px;
    bottom: 80px;
}