#box1{
    background-color: red;
    height: 100px;
    width:600px;
    position:relative;
    left: 300px;
    top: 100px;
}
#box2{
    background-color: blue;
    height: 200px;
    width: 600px;
    position:relative;
    left: 300px;
    top:100px
}
#circle{
    background-color: white;
    height:150px ;
    width:150px ;
    position: relative;
    left:220px ;
    top:20px ;    
    border-radius: 50%;
}
#box3{
    background-color: red;
    height: 100px;
    width:600px;
    position:relative;
    left: 300px;
    top: 100px;
}