*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color: rgb(189, 186, 186);
}
.container{
    background-color: rgb(94, 141, 182);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.box{
    height: 100px;
    width: 100px;
    position: absolute;
    background-color: brown;
    animation-name: vivek;
    animation-duration:3s;
    animation-iteration-count: infinite;

}
@keyframes vivek {
    0%{
        top: 10px;
        left: 10px;
    }
    25%{
        top: 10px;
        left:1400px
    }
    50%{
        top: 600px;
        left: 1400px;
    }
    75%{
        top: 600px;
        left: 10px;
    }
    100%{
        top: 10px;
        left: 10px;
    }
}